:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  margin: 0;
  background-color: var(--Light-gray);
}

h2 {
  color: var(--Dark-blue);
  font-weight: 700;
}

.container {
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: var(--White);
  width: 320px;
  padding: 1rem;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  border-radius: 15px;
}

.text {
  padding-inline: 0.4rem;
}

.card p {
  color: var(--Grayish-blue);
  font-weight: 400px;
}
